.balance {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  .icon {
    display: inline-block;
    padding-top: 8px;
    vertical-align: top;

    img {
      height: 40px;
      width: 40px;
    }

    img[alt="net worth"] {
      filter: invert(0.75) sepia(1) saturate(100) hue-rotate(190deg);
    }
  }

  .details {
    display: inline-block;
    padding-left: 15px;
  }
}
