.expense-category {
  .chart {
    padding: $control-margin * 4;
  }

  .period {
    padding: $control-margin * 4;
  }

  .transaction {
    padding: $control-margin * 4;
    border-bottom: 1px solid $tertiary-background-color;

    > div {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .transaction:first-child {
    border-top: 1px solid $tertiary-background-color;
  }
}
